.PointList {
  width: 300px;
  min-height: 200px;
  margin: 0;
  padding: 0;

  /* background: #eee; */
}

.PointList-Item {
  margin-bottom: 20px;
}

.Item {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 15px 24px 15px 10px;

  background: rgb(255, 251, 192);
}

.Item-Location {
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.Item-Button {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
}

.Item-Button_action_remove {
  position: absolute;
  top: 5px;
  right: 3px;
  z-index: 1;

  width: 24px;
  height: 24px;

  color: #ccc;
  font-size: 20px;
  line-height: 1;

  transform: rotate(0deg);

  transition: color 0.15s ease-in-out;
}

.Item-Button_action_remove:hover {
  color: #333;
  /* font-weight: bold; */
}

/* .Item-Button_action_remove:hover,
.Item-Location:hover + .Item-Button_action_remove {
  right: -24px;
} */
