.PointList {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  width: 100%;
  height: 100%;
  padding: 0 0 0;

  overflow-y: auto;

  list-style: none;
}

:root {
  --dnd-width: 28px;
}

.PointList-Item {
  --margin-right: 10px;
  position: relative;

  width: calc(100% - var(--dnd-width) - var(--margin-right));
  margin-right: var(--margin-right);
  margin-bottom: 15px;
  padding: 7px 35px 8px 15px;
}

.PointList-Item:last-of-type {
  margin-bottom: 0;
}

.Item-Icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--dnd-width) * -1);

  display: block;
  width: var(--dnd-width);

  background: hsla(390, 88%, 66%, 1) url('Icons/drag-and-drop.svg') center/16px no-repeat;
}

.Item {
  position: relative;
  z-index: 1;

  background: hsla(56, 100%, 80%, 1);
}

.Item-Location {
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.Item-Button {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
}

.Item-Button_action_remove {
  position: absolute;
  top: 50%;
  right: 5px;

  display: block;
  width: 25px;
  height: 25px;

  background: url('Icons/cancel.svg') center/10px no-repeat;

  transform: translate(0, -50%);

  transition: color 0.15s ease-in-out;
}

.Item-Button_action_remove:hover {
  color: #333;
}
