:root {
  --App-paddig-top: 50px;
  --App-margin-bottom: 50px;
  --PointInputWrapper-margin-bot: 30px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: --App-margin-bottom;
  padding-top: var(--App-paddig-top);

  background: #fff;
}

.App-Dashboard {
  margin-right: 30px;
}

.App-PointList {
  height: calc(100vh - var(--App-paddig-top) - var(--App-margin-bottom) - var(--PointInputWrapper-margin-bot) - var(--PointInput-height));
  margin: 0;
}

.App-PointInputWrapper {
  margin-bottom: var(--PointInputWrapper-margin-bot);
}
