.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;

  background: #fff;
}

.App-Dashboard {
  margin-right: 30px;
}

.App-PointList {
  margin: 0;
}

.App-PointInputWrapper {
  margin-bottom: var(--PointInputWrapper-margin-bot);
}
